# gitignore

.idea/*
.vscode/*
.workspace

*.pyc

logfiles/*
logger/*
logs/*

venv/*
.venv/*
keys.json
keys2.json
params.json
backup_lw.json
keys.txt
keys2.txt
params.txt

tests/keys.py
logging_error.log
